doctype html
html(lang="en")
  include templates/main/head.pug
  body
    include templates/main/navbar.pug

    //For all of the main content
    main
      article
        header
          h1 Contact Me
        include templates/main/contact-form.pug
      
    include templates/main/footer.pug