doctype html
html
  include templates/main/head.pug
  body

    //For all of the main content
    section.main

      //The highest point of the page which content can be rendered on - used for the navbar
      section.top
        include templates/main/navbar.pug
      //Quick summary
      header.top_content
        section.top_content_header.top_content_header-main Title
        section.top_content_header.top_content_header-sub short description fit into a sentence.
        
      //The main content of the site
      section.content
      
        //Skills/About
        section.skill_container
          article.skill_container_item.skill_container_item-1-2
            header
              h2 What is this?
            p 
              ="lengthy description of site 1-2 paragraphs"
              br
              a(href="https://github.com/nanu2000/") Github Icon
              =" and "
              a(href="https://codepen.io/nanu2000/") Codepen Icon
              br
              
          article.skill_container_item.skill_container_item-1-2
            header
              div.project_highlights
                h2 Highlighted Projects
                p list highlights here

              a(href="/projects/") View all projects
              =" - or the "
              div.skill_container_view_all_tools
                a(href="/tools/") tools used to create them
            
      include templates/main/contact-form.pug
      
    include templates/main/footer.pug