doctype html
html(lang="en")
  include templates/main/head.pug

  body
    include templates/main/navbar.pug

    //For all of the main content
    main
      //Quick summary
      header
        h1.index_title Developer Richie 
      
      //Skills/About

      article
        header
          h2 About
        p devrichie is a site built as an access point for all of my projects, and which tools I have used to create them.

        section
          header
            h3 The current site
            p lengthy description of site 1-2 paragraphs

        section
          header
            h4 Project highlights
          p A short sentence on what these are
          ol.project_list
            each project in projects
              if project.featured
                li
                  a(href="/project/" + project.slug)=project.title
                  span=project.shortSnippet

          footer
            a(href="/projects/") View all projects
            =" - or the "
            a(href="/tools/") tools used to create them

        section
          header
            h3 Previous versions of this site
            p description of previous versions - include images


      article
        header
          h2 Where can you find me?
        p Short sentence here
        p list places to find my work and communities I'm a part of - reddit, forums, youtube, twitter, etc...
        a(href="https://github.com/nanu2000/") Github
        a(href="https://codepen.io/nanu2000/") Codepen

        section
          header
            h3 Send me a message
          p email/contact can go here
            
      include templates/main/contact-form.pug

    include templates/main/footer.pug