extends templates/main/site.pug

block head
  meta(name="author" content="Richie Sikra")
  meta(name="description" content="Project portal for rproj.site")

block main
  article
    header
      h1.index_title Richie's Project Site

    p.
      Welcome to my project site!
      #[br]
      #[a(href="/project/devrichie/") about this site]

    section
      header
        h2 Project highlights
      p Below are some of my favorite projects
      ul.project_list
        each project in projects
          if project.featured
            li
              a(href="/project/" + project.slug)=project.title
              span=project.shortSnippet

      footer
        a(href="/projects/") View all projects
        =" or the "
        a(href="/tools/") tools used to create them

    section
      header
        h2 Where to find me
      p Here is a list of the communities I'm a part of:

      ul.dotted
        li
          a(href="https://github.com/nanu2000/") GitHub
        li
          a(href="https://codepen.io/nanu2000/") CodePen
        li
          a(href="https://www.youtube.com/channel/UCLhTqg04xF9MtMbZfFTRsYw") YouTube
        li
          a(href="https://reddit.com/user/_nanu_") Reddit 
          ="(mostly r/gamedev)"

      section
        header
          h3 Send me a message
        p.
          Questions and comments are always welcome. You can reach me via email 
          (#[a(href="mailto:richiesikra@gmail.com") richiesikra@gmail.com]) 
          or through any of the sources listed above.