doctype html
html
  include templates/main/head.pug
  body

    //Animated gradient
    section.animated_background.animated_background-top.animated_background-small
      div(id="particles-js")
      script(src="/script")
      div.animated_background_inner

    //For all of the main content
    section.main

      //The highest point of the page which content can be rendered on - used for the navbar
      section.top
        nav
          header
            h1.name
              a(href="/") Richie Sikra
            ul.navbar  
              each item in options.navbar
                li.navbar_item 
                  a(href=item.url) #{item.title}

      //Quick summary
      section.top_content
        
      //The main content of the site
      section.content
        article.project_list
          h3.project_list_title Projects
          each project,index in projects
            a.project_list_item(href="/project/" + project.slug) #{project.title}
            if (index < projects.length - 1 && ((index + 1) % 2) === 0)
              br
            else if(index < projects.length - 1)
              span="-"
    include templates/main/footer.pug