extends templates/main/site.pug

block head
  meta(name="author" content="Richie Sikra")
  meta(name="description" content="Projects")

block main
  section
    header
      h1 Projects
      p Click on a project for more details

    ol.dotted.project_list
      each project,index in projects
        li
          a(href="/project/" + project.slug) #{project.title}
          span=" " + project.shortSnippet
