doctype html
html(lang="en")
  include templates/main/head.pug
  body
    include templates/main/navbar.pug

    //For all of the main content
    main
      article
        header
          h2 Projects
          p Click on a project for more details

        ol.project_list
          each project,index in projects
            li
              a(href="/project/" + project.slug) #{project.title}
              span=" " + project.shortSnippet

    include templates/main/footer.pug