doctype html
html
  include templates/main/head.pug
  body

    //For all of the main content
    section.main

      //The highest point of the page which content can be rendered on - used for the navbar
      section.top
        nav
          header
            h1.name
              a(href="/") Richie Sikra
            ul.navbar  
              each item in options.navbar
                li.navbar_item
                  a(href=item.url)=item.title
        
        //TODO: Move logic into processor
        
        - var icon = false
        if project.images
          each image in project.images
            if image.category === "icon"
              - icon = image
              - break

        section(class = (icon == false) ? "top_project" : "top_project top_project-icon")

          if icon != false
            div.top_project_icon
              img(src=("/project/" + project.slug + "/images/" + icon.slug) alt=icon.alt)

          header.top_project_title
            h1=project.title
            h3
              //TODO: Move logic into processor
              each tool,index in project.tools
                if (index < 3 && index + 1 < project.tools.length)
                  = tool.title + ", "
                else if (index >= 3 && index + 1 < project.tools.length)
                  = tool.title + ".."
                  - break
                else
                  = tool.title + "."
        
      //The main content of the site
      section.content
        include templates/project/single.pug

    include templates/main/footer.pug