doctype html
html

  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    link(rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css")
    link(rel="stylesheet" href="/style")

  body
    p #{tool.title}
    h3 Used In
    each project in tool.projects
      a(href="/projects/" + project.slug) #{project.title}
      br
    a(href="/tools") View all tools