doctype html
html
  include templates/main/head.pug
  body

    //Animated gradient
    section.animated_background.animated_background-top.animated_background-small
      div(id="particles-js")
      script(src="/script")
      div.animated_background_inner
        // img.animated_background_inner_img(src="/bg")

    //For all of the main content
    section.main

      //The highest point of the page which content can be rendered on - used for the navbar
      section.top
        nav
          header
            h1.name
              a(href="/") Richie Sikra
            ul.navbar  
              each item in options.navbar
                li.navbar_item 
                  a(href=item.url) #{item.title}
        
        article(style="position:relative;")
          


          if project.images
            - var hasIcon = false
            
            each image in project.images
              if image.category === "icon"
                div(style="position: absolute;bottom: -100%;height: 12vh;width: 12vh;overflow:hidden;")
                  // To center add: margin-left: -50%;
                  img(src=("/project/" + project.slug + "/images/" + image.slug) style="height: 100%;" alt=image.alt)
                  - hasIcon = true
                  break

          div(style = (hasIcon ? "margin-left:14vh;" : ""))
        
            h1.project_header(style="margin-top:27vh;font-size:2.2222222222vh;")
              =project.title
              
            h3.project_header_tools(style="margin-top:1vh;font-size:1.4814814815vh;")
              each tool,index in project.tools
                if (index < 3 && index + 1 < project.tools.length)
                  = tool.title + ", "
                else if (index >= 3 && index + 1 < project.tools.length)
                  = tool.title + ".."
                  - break
                else
                  = tool.title + "."


        
      //The main content of the site
      section.content
        include templates/project/single.pug

    include templates/main/footer.pug