doctype html
html
  include templates/main/head.pug
  body

    //For all of the main content
    section.main

      //The highest point of the page which content can be rendered on - used for the navbar
      section.top
        nav
          header
            h1.name
              a(href="/") Richie Sikra
            ul.navbar  
              each item in options.navbar
                li.navbar_item 
                  a(href=item.url)=item.title

      //Quick summary
      section.top_content
        
      //The main content of the site
      section.content
        include templates/tool/single.pug

    include templates/main/footer.pug