html {
  background-color:#F9F9FA;
}

body {
  font-family:Open Sans,Arial;
  color:#444;
  font-size:16px;
  margin:1em auto;
  max-width:800px;
  padding:1em;
  line-height:1.7;
}

a {
  text-decoration: none;
  color:#26467F;    
}
a:hover {
  color:#005cff;
}
a:visited {
  color:#333;
}
ul,ol {
  list-style: none;
  padding:0;
  margin:0;
}
li {
  display:inline;
  margin:0 1em 0 0;
}
li:last-of-type {
  margin:0;
}

section, article {
  margin:2em 0;
}

h1,h2,h3,h4,h5,p {
  margin: .2em 0;
}

h1 {
  font-size:2em; /* 48px based on 16px default font-size */
}
h2 {
  font-size:1.5em; /* 32px based on 16px default font-size */
}
h3 {
  font-size:1.25em; /* 24px based on 16px default font-size */
}
h4 {
  font-size:1em; /* 20px based on 16px default font-size */
}
h5 {
  font-size:.75em; /* 16px based on 16px default font-size */
}
p {
  font-size:1.125em; /* 18px based on 16px default font-size */
}

@media all and (min-width:345px){
  
  .navbar .title {
    float:left;
  }
  .navbar nav {
    float:right;
  }
}

.navbar{
  margin-bottom:2em;
}
.navbar .title, .navbar nav {
  margin:0;
}
.navbar .title {
  line-height:32px;
}
.navbar nav {
  line-height:32px;
}
.navbar:after {
  content: "";
  display: table;
  clear: both;
}
.navbar a {
  color:#005cff;
  vertical-align: text-top;
}
.navbar .title a {
  color:#002E7F;
}

.footer{
  margin: 4em 0;
}
.footer .copyright{
  font-size:.75em;
}


.project_list, .tool_list {
  margin:.5em;
}

.project_list li, .tool_list li {
  margin: .25em 0;
  display: block;
  position:relative;
}

.project_list li:before, .tool_list li:before {
  font-size:1em;
  content:'-';
  position:absolute;
  top:0;
  left:-1em;
}

.project_list li span {
  font-size:.75em;
  margin:0 0 0 .25em;
}