doctype html
html
  include templates/main/head.pug
  body
    include templates/main/navbar.pug

    //For all of the main content
    main
      article

        header
          h2 Tools
          p Click on a tool for more details

        ol.tool_list
          each tool,index in tools
            li
              a(href="/tool/" + tool.slug) #{tool.title}

    include templates/main/footer.pug