//The contact form should send an email to me and prompt a captcha
article

  header
    h3 Have a question?
  form(action='#')
    label Name
    input(placeholder='Your name' type='text' autocomplete='name')

    label Email Address
    input(placeholder='Your email' type='email' autocomplete='email')

    label Message
    textarea(placeholder='How can I help you?')

    input(value='Send message' type='submit')