article
  header
    h2 The current site
  p.
    Originally developed on the LAMP Stack (linux, apache, mysql and PHP) but most recently moved to NodeJS on top of nginx. 
    What you see now is my most recent version of my website of 5 years.

  section
    header
      h3 Design
    p.
      This site has been developed and redesigned three times within it's life. 
      Now (end of 2018) this website has been designed for a more clear purpose: to display my projects and the tools used to create those projects. 
      I have done my fair share of design and while I know basic principles of what makes a site look good, design is not my forte and not something I want to dedicate my time towards.
      By having a minimalistic design there is less time used for maintnence and more time for my projects and developing.
      