article.single_project

  header.single_project_title
    h2=project.title
  section.single_project_snippet

    if(project.snippet)
      p=project.snippet

    if(project.github)
      div.single_project_github
        a(href=project.github) View on Github
      
  section.single_project_tools
    h3.single_project_tools_header Tools Used: 
    each tool,index in project.tools
      a(href="/tool/" + tool.slug)=tool.title
      if(index < project.tools.length - 1)
        span
          =", "

  section.single_project_view_all
    a(href="/projects") View all projects

  //to display all images
  //each image in project.images
    img(src=("/projects/" + project.slug + "/images/" + image.slug))
