article
  p 
    |A single page application featuring real time updating when a customer schedules an appointment online. 
    |Built with vanilla JavaScript, tui.calendar, and UIKit for styling. 
    |Manually integrated with the WordPress Bookly Plugin for payment processing and customer frontend.

section.project_images
  header
    h2="Images of the interface"

  //TODO: Move logic into processor
  if project.images
    each image in project.images
      if image.category === "image"
          div.project_icon
            div.icon_title
              p=image.title
            img(src=("/project/" + project.slug + "/images/" + image.slug) alt=image.alt)